<script src="/js/feather.min.js"></script>
<script>
  feather.replace()
</script>
<!-- Cookies -->
<script src="/static/js/glowCookies.min.js"></script>
<script>
    glowCookies.start('en', {
        style: 1,
        analytics: 'UA-96240667-3',
        policyLink: 'https://www.themountain.io/privacy',
        hideAfterClick: true,
        border: 'none',
        position: 'right',
        bannerDescription: '<h4>We use third-party cookies to analyse web traffic.</h4>',
        bannerLinkText: '<h4>Read more.</h4>',
        bannerBackground: 'var(--white)',
        bannerHeading: '<h5>Cookies</h5>',
        acceptBtnText: '<h4>Accept Cookies</h4>',
        acceptBtnBackground: 'var(--dandelion)',
        rejectBtnText: '<h4>Reject</h4>',
        rejectBtnBackground: 'var(--gris)'
    });
</script>